<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> من نحن</title>
    <!-- Start Files CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <!-- End Files CSS -->
    <!-- Start Fonts Google : cairo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <!-- End Fonts Google : cairo -->
    <style>
        .header .search .icon {
    height: 45px;
    width: auto;
    background: rgb(255 255 255);
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid rgb(172 218 255);
    cursor: pointer;
}
.serch-icon{
    font-size: 18px;
}
    </style>
</head>
<body>
  <!-- start header and main header -->

  <div class="header">
    <div class="logo">
    <img src="../assets/image/logo.png" alt="extra-technology">
    </div>
    <div class="search" title="بحث">
        <input type="text" placeholder="ما الذي تبحث عنه....">
        <div class="icon">
            <i class="fa-solid fa-magnifying-glass serch-icon"></i>
        </div>
    </div>

    <div class="toolsheader">
        <ul>
            <li><a href="favorite.html"><img title="المفضلة" src="../assets/image/wishList.png" alt="favorite"></a> </li>
            <li><a href="logen.html"><img title="تسجيل الدخول" src="../assets/image/account.png" alt="account"></a></li>
            <li><a href="myCart.html"><img title="عربة التسوق" src="../assets/image/cart.png" alt="cart"></a></li>
        </ul>

    </div>
</div>

<div class="mainheader">
    <ul>
        <li><a href="home.html" target="_blank">الرئيسية</a></li>
        <li><a href="section.html" target="_blank"> منتجاتنا</a>
    <div  style="position: relative;">
        <ul class="submenu">
            <li  class="section1"> <a href="">الاجهزة</a>
                <li><a href="computer.html">الكمبيوتر</a></li>
                <li><a href="phone.html">الهاتف</a></li>
                <li><a href="products-network.html">منتجات و ادوات الشبكة </a></li>
            </li>
        <li  class="section1"><a>البرامج </a>
                <li><a href="Protection-Software.html">برامج الحماية و مايكرسوفت</a></li>
            </li>
        </ul>
    </div>
        </li>
        <li><a href="../_pages_user/about-us.html" target="_blank">من نحن </a></li>
        <li><a href="../_pages_user/PrivacyPolices.html" target="_blank">سياسة الخصوصية</a></li>
        <li><a href="../_pages_user/TermsUsed.html" target="_blank">شروط الاستخدام</a></li>
    </ul>
    <!-- <img title="انجليزى" class="changeLanguage" src="image/usa.png" alt="usa"> -->
    <a  href=""><h3 title="انجليزى" class="changeLanguage">EN</h3> </a>
</div>

<!-- end header and main header -->
<!-- Start Section Body  -->
<div class="body-content">
    <div class="container">
    <section class="row">
        <article class="about-us">
            <div class="header-about">
                <div class="title-tow" style="text-align: center;background-color: #0093E9;background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);border-radius: 60px;color: #fff;font-weight: bold;">
                    <h1 style="
                    padding: 16px;
                "> من نحن </h1>

                </div>
            </div>
            
            <p style="
            
            font-size: 25px;
            line-height: 3;
            text-align: right;
            padding-top: 50px;
            padding-bottom: 100px;
        
        ">موقع  متجر إكسترا هو موقع الكتروني متخصص في  تجارة المنتجات الالكترونية مثل السيرفرات والشبكات وادوات الصيانة واجهزة الكمبيوتر واللاب توب وهو يهدف الى تقديم المنتجات بطريقة منظمة وموثوقة.

                كما ان إفادة الزائر تأتي على رأس قائمة اهداف الموقع ، و نحاول دائما مشاركة احدث المواضيع في تكنولوجيا المعلومات  ليبقى زوارنا على إطلاع دائم بهذا المجال,
                
               ايضاً نسعى ان نكون الافضل في مجالنا، لا تنسوا متابعتنا على وسائل التواصل الاجتماعي ليصلكم كل ما هو جديد.</p>
                <h3 style="text-align: center;font-weight: 900;color: #0093E9;padding-bottom: 30px;">الخدمات التي نقدمها</h3>
                <br>
                <ul style="text-align: center;
                line-height: 2;
                font-size: 20px;  padding-bottom: 60px;">
                    <li style="
                    font-weight: 900;
                    color: #3d92ee;
                ">بيع الاجهزة الالكترونية</li>
                    <ul>
                        <li>كمبيوتر</li>
                        <li>سيرفرات</li>
                        <li>لاب توب</li>
                        <li>اجهزة شبكات</li>
                    </ul>
                    <li style="
                    font-weight: 900;
                    color: #3d92ee;
                ">البرمجيات</li>
                    <ul>
                        <li>برامج مايكروسوفت اوفيس</li>
                        <li>برامج  الحماية</li>
                        <li>برامج  المالتي ميديا</li>
                    </ul>
                </ul>
        </article>
        
    </section>
</div>
</div>
<!-- End Section Body  -->

</body>
</html>



